<!doctype html>
<html lang=en>
<meta charset=utf-8>
<head>
    <title>Code Carots Poznań</title>

    <meta name="author" content="Piotr Dyba"/>
    <link href="{{ url_for('static', filename='css/normalize.css') }}"
          media="all" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='css/foundation.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/general_foundicons.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/sweet-alert.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/datepicker.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/my_style.css') }}"
          media="all" rel="stylesheet" type="text/css"/>

    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweet-alert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>


    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}"
          type="image/x-icon">


    <ul class="title-area" style="padding: 1rem">

        <img src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Code Carrots Registration" style="width: 18%">
        <nav class="top-bar" data-topbar role="navigation">

            <section class="top-bar-section">

                {% if current_user and current_user.is_authenticated %}
                    <ul class="right">
                        <li
                                class="right"><a
                                href="{{ url_for('logout') }}">Logout</a>
                        </li>

                        <li class="right divider"></li>

                        <li class="right hi_user">
                            <a>  {{ current_user.username[0].upper()+current_user.username[1:] }} </a>
                        </li>

                           <li class="right divider"></li>
                    <li class="right"><a>
                            Attendees: <b id="aten_count"></b></a>
                        </li>
                        <script>
                            $.getJSON('{{ url_for('statistics') }}', function (data) {
                                console.log(data);
                                $('#aten_count').text(data['count']);
                            });
                        </script>


                    </ul>
                {% else %}
                    <ul class="right">
                        <li
                                class="right"><a
                                href="{{ url_for('login') }}">Login</a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="left">
                    <li {% if page_id == 'Info' %}
                        class="active" {% endif %}><a
                            href="{{ url_for('info') }}">Info</a>
                    </li>
                    <li {% if page_id == 'register' %}
                        class="active" {% endif %}><a
                            href="{{ url_for('register') }}">Rejstracja</a>
                    </li>
                    {% if current_user and current_user.is_authenticated %}
                        <li class="divider"></li>
                        <li {% if page_id.startswith('overview') %}
                            class="active" {% endif %}><a
                                href="{{ url_for('overview', user_filter='notrated') }}">Overview</a>
                        </li>


                        <li {% if page_id == 'amail' %}
                            class="active" {% endif %}><a
                                href="{{ url_for('amail') }}">A-mail</a>
                        </li>
                        {% if current_user.is_poweruser %}
                            <li {% if page_id == 'amail' %}
                                class="active" {% endif %}><a
                                    href="{{ url_for('manage') }}">Manage</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </section>
        </nav>

    </ul>


    <div class="large-12 columns">

        <div id="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div data-alert class="alert-box success radius">
                        {% for message in messages %}
                            <li>{{ message|urlize(30) }}</li>
                        {% endfor %}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
            {% endwith %}

        </div>

    </div>

</head>

<body>
<div class="row">
    {% block content %}
    {% endblock %}
</div>

</body>


<div class="large-12 columns small-text-right">

    <hr>
    <h6>Created by <a href="http://dyba.com.pl/">Piotr Dyba</a> in 2015</h6>
</div>

</html>