{% extends "_base.html" %}

{% set page_id = 'login' %}

{% block content %}

    <div class="large-6 columns">
        <h3>INFO</h3>
        Code Carrots w Poznaniu nadchodzi! Chcesz zacząć swoją przygodę z
        programowaniem? Zapraszamy na bezpłatne warsztaty weekendowe z
        Python'a.
        <br>
        <br>

        <h3>KIEDY?</h3>
        Warsztaty odbędą się w weekend - między 27 a 29 listopada.
        <br>
        <br>

        <h3>GDZIE?</h3>
        Ul. Umultowska 87, Wydział Matematyki i Informatyki UAM.
        <br>
        <br>

        <h3>DLA KOGO?</h3>
        Warsztaty są skierowane zarówno do osób rozpoczynających swoją przygodę z
        programowaniem, jak i do tych, którzy już mają doświadczenie w
        programowaniu i chcą poznać kolejny język. Uczestników podzielimy na
        3-4 osobowe grupy. Każdą grupą zaopiekuje się jeden mentor. Na
        warsztaty przyjdź z własnym laptopem. Materiały warsztatowe są po
        angielsku, ale same warsztaty są prowadzone po Polsku.

        <h3>KONTAKT</h3>
        <a href="mailto:codecarrots.poznan@gmail.com">codecarrots.poznan@gmail.com</a>

    </div>
    <div class="large-6 columns">
        <h3>REJESTRACJA!</h3>
        <br>
        Aby wziąć udział w warsztatach PyCode Carrots zaakceptuj regulamin oraz
        wypełnij formularz rejestracyjny do 8 listopada 2015 (włącznie).
        Kolejność zgłoszeń nie ma znaczenia. Chcemy poznać Twoją motywację do
        wzięcia udziału w warsztatach. I to ją będziemy brali pod uwagę podczas
        oceny zgłoszenia.
        <br>
        Do 15 listopada osoby zakwalifikowane do udziału w warsztacie otrzymają
        od nas e-mail z zaproszeniem. Po jego otrzymaniu prosimy o e-mailowe
        potwierdzenie swojego uczestnictwa w terminie do 18 listopada.
        <br>
        <br>
        <a href="https://www.facebook.com/events/817378328361206/">! Wydarzenie
            na Facebooku !</a>
        <br>
        <br>

        <p class="right">
            Czekamy na Ciebie!

        <br>

        <x class="carrot">
            Code Carrots Poznań Team
        </x>
                </p>
        <br>
        <br>
        <br>

        <h4>O aplikacj do rejestracji uczestników:</h4>
        Aplikacja została napisana w Pythonie z wykorzystaniem framworka Flask
        przez organizatora odpowiedzalnego za program i mentorów - Piotra Dyba.
        Uczestnicy kończąc warsztaty będą mieli podstawy aby zbudować podobną
        aplikację.

    </div>

{% endblock %}