{% extends "_base.html" %}

{% set page_id = current_page_id %}

{% block content %}
    <dl class="sub-nav">
        <dt>Filters</dt>

        <dd {% if page_id == 'overview' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview', user_filter='notrated') }}">Not
            rated</a>
        </dd>
        <dd {% if page_id == 'overview_top100' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview',  user_filter='top100') }}">TOP
            100</a>
        </dd>
        <dd {% if page_id == 'overview_accepted' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview', user_filter='accepted') }}">Accepted</a>
        </dd>
        <dd {% if page_id == 'overview_confirmed' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview', user_filter='confirmed') }}">Confirmed</a>
        </dd>

        <dd {% if page_id == 'overview_unconfirmed' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview', user_filter='unconfirmed') }}">Rejected</a>
        </dd>


        <dd {% if page_id == 'overview_all' %}
            class="active" {% endif %}><a
                href="{{ url_for('overview') }}">All</a>
        </dd>


    </dl>

    <div class="large-12 columns">
        <h3>Overview</h3>

        <table style="width: 100%;">
            <thead>
            <tr>
                <th>No</th>
                <th>Surname</th>
                <th>Name</th>
                {% if page_id == 'overview_confirmed' %}
                    <th>Data Urodzenia</th>
                    <th>Gotowanie</th>
                    <th>Miasto</th>
                    <th>Tshirt</th>
                    <th>OS</th>
                {% else %}
                    <th>Score</th>
                    <th>R. count</th>
                    <th>Accepted</th>

                    <th>Confirmation</th>
                {% endif %}
            <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% set no = 0 %}
            {% for attendee in attendees %}
                <tr {% if no == 50 %}style="background-color: #007095"{% endif %}>
                    <td>{{ no }}{% set no =  no + 1 %}</td>
                    <td>{{ attendee.surname }}</td>
                    <td>{{ attendee.name }}</td>
                    {% if page_id == 'overview_confirmed' %}
                        <th>{{ attendee.birth_date }}</th>
                        <th>{{ attendee.can_cook_something }}</th>
                        <th>{{ attendee.city }}</th>
                        <th>{{ attendee.tshirt }}</th>
                        <th>{{ attendee.operating_system }}</th>
                    {% else %}
                        <td>{{ "{0:0.2f}".format(attendee.score) }}</td>
                        <td>
                            <c style="color: {% if attendee.reviewed_by == 0 %}red{% elif attendee.reviewed_by == 1 %}orange{% else %}green{% endif %};">{{ attendee.reviewed_by }}</c>
                            |
                            <c style="color: {% if attendee.reviewed_by_me == "No" %}red{% else %}green{% endif %};">{{ attendee.reviewed_by_me }}</c>
                        </td>
                        <td>{{ attendee.accepted }}</td>

                        <td>{{ attendee.confirmation }}</td>
                    {% endif %}
                                <td>
                            <a href="{{ url_for('review', uid=attendee.id) }}">Review</a>
                        </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}